site_name: Guardiões da Saúde
site_description: Documentação do projeto Guardiões da Saúde, relacionada à matéria de "Qualidade de Software" do curso de Engenharia de Software da UnB FCTE.
site_url: https://fcte-qualidade-de-software-1.github.io/2025-2_T02_Katherine_Johnson/

repo_name: FCTE-Qualidade-de-Software-1/2025-2_T02_Katherine_Johnson
repo_url: https://github.com/FCTE-Qualidade-de-Software-1/2025-2_T02_Katherine_Johnson

theme:
    name: material
    language: pt-BR
    favicon: assets/images/icon.png
    logo: assets/images/icon.png
    features:
        - navigation.tabs
        - navigation.sections
        - navigation.expand
        - navigation.path
        - navigation.top
        - search.highlight
        - search.share
        - toc.follow
        - content.code.annotate
        - content.code.copy
        - content.tabs.link
    palette:
        - scheme: default
          primary: teal
          accent: green
          toggle:
              icon: material/brightness-7
              name: Mudar para modo escuro
        - scheme: slate
          primary: teal
          accent: green
          toggle:
              icon: material/brightness-4
              name: Mudar para modo claro

markdown_extensions:
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - admonition
    - pymdownx.arithmatex:
          generic: true
    - footnotes
    - pymdownx.details
    - pymdownx.superfences:
          custom_fences:
              - name: mermaid
                class: mermaid
                format: !!python/name:pymdownx.superfences.fence_code_format
    - pymdownx.mark
    - attr_list
    - md_in_html
    - pymdownx.emoji:
          emoji_index: !!python/name:material.extensions.emoji.twemoji
          emoji_generator: !!python/name:material.extensions.emoji.to_svg
    - pymdownx.tabbed:
          alternate_style: true
    - pymdownx.tasklist:
          custom_checkbox: true

plugins:
    - search
    - mermaid2:
          arguments:
              theme: |
                  ^(JSON.parse(__md_get("__palette").index == 1)) ?
                  'dark' : 'light'

extra_css:
    - stylesheets/theme-overrides.css

nav:
    - Página Inicial: index.md
    - Sobre o Projeto:
          - Visão Geral: sobre/visao-geral.md
          - Equipe: sobre/equipe.md
    - Declaração de IA: entregas/declaracao_ia.md
    - Fase 1 - Requisitos de Avaliação:
          - 1. Propósito da Avaliação: entregas/fase-1/proposito-da-avaliacao.md
          - 2. Requisitante e Partes Interessadas: entregas/fase-1/partes-interessadas.md
          - 3. Características do Produto: entregas/fase-1/caracteristicas-produto.md
          - 4. Especificação do modelo de qualidade: entregas/fase-1/especificacao-modelo-qualidade.md
          - 5. Seleção das características avaliadas: entregas/fase-1/selecao-caracteristicas-avaliadas.md
          - 6. ODS Relacionados: entregas/fase-1/ods-relacionados.md
    - Fase 2 - Especificação da Avaliação:
          - 1. Visão Geral: entregas/fase-2/visao_geral.md
          - 2. Manutenabilidade: entregas/fase-2/manutenabilidade.md
          - 3. Confiabilidade: entregas/fase-2/confiabilidade.md
          - 4. Segurança: entregas/fase-2/seguranca.md
          - 5. Tabela de Contribuição: entregas/fase-2/tabela_contribuicao.md
    - Fase 3 - Planejamento da Avaliação:
          - 1. Visão Geral: entregas/fase-3/visao_geral.md
          - 2. Manutenabilidade: entregas/fase-3/manutenabilidade.md
          - 3. Confiabilidade: entregas/fase-3/confiabilidade.md
          - 4. Segurança: entregas/fase-3/seguranca.md
          - 5. Tabela de Contribuição: entregas/fase-3/tabela_contribuicao.md
    - Fase 4 - Execução da Avaliação:
          - 1. Resultados - Manutenibilidade: entregas/fase-4/resultados_manutenibilidade.md
          - 2. Resultados - Confiabilidade: entregas/fase-4/resultados_confiabilidade.md
          - 3. Resultados - Segurança: entregas/fase-4/resultados_seguranca.md
          - 4. Coleta de Dados: entregas/fase-4/coleta_de_dados.md
          - 5. Gravações da Coleta: entregas/fase-4/gravacoes_da_coleta.md
          - 6. Conclusão Geral: entregas/fase-4/conclusao_geral.md
          - 7. Tabela de Contribuição: entregas/fase-4/tabela_contribuicao.md

extra:
    social:
        - icon: fontawesome/brands/github
          link: https://github.com/FCTE-Qualidade-de-Software-1/2025-2_T02_Katherine_Johnson

copyright: Copyright &copy; 2025 - T02 Katherine Johnson
